<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestPkg.loginTest"/> 
         <class name="TestPkg.registerTest"></class>
         <class name="TestPkg.search1Test"></class>  
         <class name="TestPkg.searchItem"></class> 
         <class name="TestPkg.homeTest"></class> 
         <class name="TestPkg.buyItemTest"></class>
         <class name="TestPkg.buyItemFromMainTest"></class> 
         <class name="TestPkg.footerTest"></class>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
